<doctype! html>
  <html ng-app="Eva">
  <meta charset="utf-8" />

  <head>
    <title>Eva</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>

  <body>
    <div class="container">
      <script src="lib/angular.js"></script>
      <script src="lib/angular-route.js"></script>
      <script src="app.js"></script>
      <script src="chat/chat.js"></script>
      <script src="about/about.js"></script>
      <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
      <nav>
        <span class="uppertext">
      <a href="#/chat">Chat</a>
      <a href="#/about">About</a>
    </nav>
    </span>
        <div id="container" class=textarea ng-controller="chatCtrl">
          <form class="thebox">
            <input type="text" ng-model="search" placeholder="Enter message here" />
            <button ng-click="go()" id="rec" class="btn" value="search">Send</button>
          </form>
          <div ng-view></div>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </body>

  </html>
