@keyframes example {
    from {opacity: 0;}
    to {opacity : 1;}
}

body {
  background: url('../matrix.gif');
  text-align: center;
  background-size: cover;
  font-size: 18px;
  animation-name: example;
  animation-duration: 8s;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*background-color: black;*/
  font-family: "Titillium Web";
  font-size: 40px;
  font-color: #b3ff66;
  margin: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

input {
  background: black;
  color: Lime;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  font-size: 20px;
  line-height: 43px;
  padding: 0 0.75em;
  width: 400px;
  opacity: 0.8;
  -webkit-transition: all 0.35s ease-in;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  /*outline: 1px solid black;*/
}

.uppertext {
  color: white;
  font-size: 20px
}

.text {
  /* for eva */
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 40px
}

.btn {
  background-color: black;
  color: #00ff00;
  /*display: inline-block;*/
  /*font-family: "Helvetica";*/
  font-size: 20px;
  line-height: 43px;
  padding: 0 0.75em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in;
}

.btn:hover {
  background-color: #00ff00;
  color: black;
}

.thebox {
  color: black font-size: 10px;
}
